-r ./base.txt
-r ./requirements-testing.txt

bumpversion==0.5.3
wheel==0.33.6
django==3.0.2
djangorestframework==3.11.0  # https://github.com/encode/django-rest-framework
django-environ==0.4.5  # https://github.com/joke2k/django-environ
