mock>=1.0.1
flake8>=2.1.0
pytest==5.1.2
pytest-django==3.5.1
pytest-cov==2.7.1
djangorestframework
Faker
tox
django-test-plus
factory_boy
djangorestframework_simplejwt
django-allauth
Pillow
requests_mock
